{% set projects = projects.items()|sort(attribute='1.last_mod')|reverse %}
{% for key, item in projects %}
<div class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-3">
            <div class="w-100 h-100 position-relative">
                <img src="{{ item.image_path_rel }}" class="w-100 h-100 position-absolute object-fit-cover rounded-start dark-light" alt="{{ item.image_alt }}" />
            </div>
        </div>
        <div class="col-9">
            <div class="card-body">
                <a href="{{ item.index_url }}" class="stretched-link"></a>
                <h5 class="card-title" style="margin-top: 0">{{ item.nice_title }}</h5>
                <p class="card-text">{{ item.descr }}<br/>
                    <small class="text-muted">Updated on {{ item.last_mod_fmt }}{% if item.tech %} &middot; {{ item.tech | join(' &middot; ') }}{% endif %}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No projects found</h4>
    <p>There are no projects to display at the moment. Please check back later.</p>
</div>
{% endfor %}
